<h1>Agregar Celebridades a nuesta Base de Datos</h1>
<form action="" method="POST">
  <div class="container-form">
    <label for="celebrityName" class="label">Nombre de la celebridad</label>
    <input type="text" class="form-control" id="celebrityName" name="celebrityName" />
    <label for="occupation" class="label">Ocupación</label>
    <input type="text" class="form-control" id="occupation" name="occupation" />
    <label for="catchPhrase" class="label">Slogan</label>
    <input type="text" class="form-control" id="catchPhrase" name="catchPhrase" />
  </div>
  <button type="submit" class="button-add">Agregar Nueva Celebridad</button>
</form>